@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap");

.landing-page *,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 :root {
  /* Primary color */
  --StrongIndigo: #755BB4;
  --LightBlue: hsl(233, 100%, 69%);

  /* Neutral color */
  --DarkGrayishBlue: hsl(210, 10%, 33%);
  --GrayishBlue: hsl(201, 11%, 66%);
}

.landing-page html {
  font-size: 62.5%;
}

.landing-page body {
  font-family: "Bai Jamjuree", sans-serif;
  background: url(./Assets/images/background2.jpg) no-repeat;
  background-size: 100%;
  font-size: 1.6rem;
  text-align: center;

}

.landing-page .main{
  max-width: 375px;
  width: 90%;
  margin: 0 auto;
}

/* typo */
.landing-page h1,
.landing-page h2,
.landing-page h3 {
  color: var(--DarkGrayishBlue);
  padding: 0 15px;
  margin-bottom: 10px;
}

.landing-page h1 {
  font-size: 3.25rem;
}

.landing-page h2 {
  font-size: 2.5rem;
  padding: 0 1em;
}

.landing-page h3{
  font-size: 2rem;
}

.landing-page p {
  color: var(--GrayishBlue);
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.4px;
  padding: 0 15px;
  margin-bottom: 40px;
}

.landing-page .header__img {
  margin-top: 3em;
  max-width: 40%; /* Limits the width to the container's width */
  height: auto;
}

.landing-page img {
  width: 100%;
  display: block;
  margin-bottom: 3.5em;
}

.landing-page li{
  list-style: none;
}

.landing-page .footer a{
  text-decoration: none;
  color: var(--DarkGrayishBlue);
  font-size: 1.8rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1.5em;
}

/******* override *******/
.landing-page .resize {
  width: fit-content;
  margin: 0 auto 2em;
}

.landing-page .agents .resize {
  margin-bottom: 5em;
}

.landing-page .footer img{
  width: 15%;
  margin-bottom: 4em;
}

/* buttons */
.landing-page .buttons {
  width: 90%;
  margin: 2em auto 4em;
}

.landing-page .buttons a {
  text-decoration: none;

  font-size: 1rem;
  font-weight: 600;
  display: block;
  padding: 1em 0;
  letter-spacing: 1px;
  border-radius: 2em;
  margin-bottom: 1.5em;
  text-align: center;
}

.landing-page .buttons a {
  background-color: var(--StrongIndigo);
}


/* header section */
.landing-page .header {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/* others margin */
.landing-page .access,
.landing-page .supercharge,
.landing-page .agents,
.landing-page .action {
  margin-bottom: 7em;
}

/* footer */
.landing-page .footer{
  background-color: rgb(243, 242, 248);
  padding: 4em 0 1em;
}

.landing-page .content{
  margin-bottom: 4em;
}

.landing-page .social a{
  display: inline-block;
  width: 15%;
}

.landing-page .social img{
  width: auto;
  margin-bottom: 0;
}

@media screen and (min-width:1024px) {
  .landing-page html{
    font-size: 80%;
  }

  .landing-page body{
    background: url(./Assets/images/bg-header-desktop.png) no-repeat;
  }

  .landing-page .main{
    max-width: 1440px;
    width: 90%;
  }

  .landing-page .buttons {
    display: flex;
    justify-content: center;
    gap: 50px;
  }

  .landing-page .buttons a{
    width: 25%;
  }

  .landing-page .snippets__body{
    display: flex;
    gap: 10%;
    margin-top: 5em;
  }

  .landing-page .snippets__body__text{
    text-align: left;
  }

  .landing-page .supercharge_items, .agents__items{
    display: flex;
    align-items: baseline;
  }

  .landing-page .agents__items img{
    height: 100%;
  }

  /* footer */
  .landing-page .footer-container{
    display: flex;
    
  }

  .landing-page .footer-img{
    width: 25%;
    flex: 1;
  }

  .landing-page .footer img{
    margin-bottom: 0;
  }

  .landing-page .content{
    margin-bottom: 0;
    flex: 2;
  }

  .landing-page .content ul{
    display: grid;
    justify-items: start;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 3em;
  }

  .landing-page .content li:nth-of-type(1){order: 1;}
  .landing-page .content li:nth-of-type(2){order: 4;}
  .landing-page .content li:nth-of-type(3){order: 2;}
  .landing-page .content li:nth-of-type(4){order: 5;}
  .landing-page .content li:nth-of-type(5){order: 3;}

  .landing-page .social{
    flex: 1;
  }

  .landing-page .desktop__text, .landing-page .access, .landing-page .action__head{
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
.btn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btn {
  width: 150px;
  height: 60px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #feb692 0%, #ea5455 100%);
  box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 24px;
  color: white;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btn:active {
  opacity: 0.5;
}

.demo a {
  padding-top: 70px;
}
.demo a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}