/* YourComponent.css */

/* Default styles for the header */

  /* Sticky header styles */
  .sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Adjust the z-index as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow to the sticky header */
  }
  
  /* Add additional styles as needed for your sticky header */
  